body {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    font-size: 12px;
}

#logo-image {
    height: 75px;
}

#course-table {
    border-collapse: collapse;
    background-color: azure;
    margin: 20px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

